@import './reset';
@import './variables';

@mixin flexCenter($direction: row, $justify-content: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    flex-direction: $direction;
}

header {
    .nav-bar {
        @include flexCenter($justify-content: space-between);
        padding: 2rem 2rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 10;

        &__logo-image {
            max-width: 8rem;

            img {
                width: 100%;
            }
        }

        &__links {
            @include flexCenter();
            gap: 1rem;
            font-weight: $weightBold;

            a {
                color: black;
                text-decoration: none;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        &__buttons {
            @include flexCenter();
            gap: 2rem;

            a {
                text-decoration: none;
                color: black;
                font-weight: $weightBold;
            }

            &__register {
                padding: 1rem 1.8rem;
                color: white !important;
                background-color: $primaryColor;
                border-radius: .3rem;
                box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
            }

        }
    }
}

.home-banner {
    position: relative;

    .background {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    .container {
        z-index: 2;
        border: red solid;
        position: relative;
        height: 97vh;
        @include flexCenter();
        margin: 0 2rem;

        &__img {
            width: 65%;
        }

        &__detail {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 50rem;

            h1 {
                font-size: 3.2rem;
                font-weight: $weightVeryBold;
                line-height: 1.2;

                span {
                    color: $primaryColor;
                }
            }

            h2 {
                font-weight: $weightVeryBold;
            }

            p {
                color: #706f7b;
                margin: 1rem 0;
            }

            &__buttons {
                display: flex;
                gap: 1rem;
                padding-top: 1.8rem;

                a {
                    padding: 1rem 3rem;
                    text-decoration: none;
                    color: white;
                    font-weight: $weightVeryBold;
                    border-radius: .3rem;

                    &:first-child {
                        background-color: $primaryColor;
                        box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
                    }

                    &:last-child {
                        background-color: black;
                    }
                }

            }
        }
    }
}