@import './reset';
@import './variables';
@import './breakpoint';

@mixin flexCenter($direction: row, $justify-content: center, $align-item: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-item;
    flex-direction: $direction;
}

@mixin formInput {
    padding: .7rem 1rem;
    background-color: $inputBackgroundColor;
    border: solid $inputBackgroundColor;
    border-radius: .2rem;
    transition: .2s ease-in-out;
    font-family: inherit;

    &:hover {
        border: solid $primaryColor;
    }
}

@mixin accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: .2s ease-in-out;

    &.active {
        grid-template-rows: 1fr;
    }
}

header {

    position: relative;
    
    .nav-bar {
        @include flexCenter($justify-content: space-between);
        padding: 2rem 2rem;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 10;
        max-width: $maxWidth;
        margin: 0 auto;

        &__logo-image {
            max-width: 8rem;

            img {
                width: 100%;
            }
        }

        &__links {
            @include flexCenter();
            gap: 1rem;
            font-weight: $weightBold;
            flex: 1;
            max-width: 45rem;
            justify-content: space-evenly;
            

            a {
                color: black;
                text-decoration: none;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $primaryColor;
                }
            }
        }

        &__buttons {
            @include flexCenter();
            gap: 2rem;

            a {
                text-decoration: none;
                color: black;
                font-weight: $weightBold;
            }

            &__register {
                padding: 1rem 1.8rem;
                color: white !important;
                background-color: $primaryColor;
                border-radius: .3rem;
                box-shadow: $primaryButtonShadow;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: darken($color: $primaryColor, $amount: 10%);
                    box-shadow: $primaryButtonHoverShadow;
                    transform: scale(1.05);
                }
            }

        }
    }

    .hamburger-btn {
        position: absolute;
        right: 2rem;
        top: 2rem;
        z-index: 20;
        font-size: 2rem;
        cursor: pointer;
        transition: .2s ease-in-out;
        display: none;

        &:hover {
            color: $primaryColor;
            transform: scale(1.2);
        }
    }

    .hamburger-menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 21;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 1.5rem;
        font-weight: $weightSemiBold;
        background-color: white;
        overflow: scroll;
        transition: .4s ease-in-out;
        transform: translateX(100%);
        visibility: hidden;

        &.active {
            transform: translateX(0);
            visibility: visible;
        }
        

        .close-btn {
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            transition: .2s ease-in-out;
            font-size: 2rem;
            

            &:hover {
                transform: scale(1.2);
                color: $primaryColor;
            }

            &:active {
                transform: scale(1);
            }
        }

        .mobile-signIn-btn {
            padding: .8rem 1.8rem;
            border-radius: .2rem;
            color: white;
            width: 10rem;
            text-align: center;
            
            &.signIn-btn {
                background-color: black;
                box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.35);
                border: solid black;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: white;
                    border: solid black;
                    color: black;
                    transform: scale(1.05);
                }
            }

            &.register-btn {
                background-color: $primaryColor;
                box-shadow: $primaryButtonShadow;
                border: solid $primaryColor;

                &:hover {
                    background-color: darken($color: $primaryColor, $amount: 10%);
                    border: solid darken($color: $primaryColor, $amount: 10%);
                    box-shadow: $primaryButtonHoverShadow;
                    color: white;
                    transform: scale(1.05);
                }
            }
        }
        

        a {
            text-decoration: none;
            color: black;
            transition: .2s ease-in-out;

            &:hover {
                color: $primaryColor;
                transform: scale(1.05);
            }
        }

        @include landscape {
            justify-content: flex-start;
            padding: 5rem;
        }
    }

    @include lg {
        .nav-bar__links, .nav-bar__buttons {
            display: none;
        }

        .hamburger-btn {
            display: inline;
        }
    }
}

.home-banner {
    position: relative;

    .background {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        
        @include lg {
            filter: blur(10px);
        }
        @include md {
            filter: blur(40px);
        }
    }

    .container {
        z-index: 2;
        position: relative;
        height: 97vh;
        max-height: 50rem;
        @include flexCenter();
        margin: 0 auto;
        max-width: $maxWidth;
        padding: 0 2rem;

        @include landscape {
            height: auto;
        }
        
        padding-top: 10rem;
        &__img {
            width: 65%;
            max-width: 50rem;

            @include lg {
                width: 50%;
            }

            @include md {
                display: none;
            }
        }

        &__detail {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 35rem;

            h1 {
                font-size: 3.2rem;
                font-weight: $weightVeryBold;
                line-height: 1.2;

                span {
                    color: $primaryColor;
                }
            }

            h2 {
                font-weight: $weightVeryBold;
            }

            p {
                color: $grayTextColor;
                margin: 1rem 0;
            }

            &__buttons {
                display: flex;
                gap: 1rem;
                padding-top: 1.8rem;
                flex-wrap: wrap;
                justify-content: center;

                a {
                    padding: 1rem 3rem;
                    text-decoration: none;
                    color: white;
                    font-weight: $weightVeryBold;
                    border-radius: .3rem;
                    @include flexCenter();
                    gap: .5rem;
                    cursor: pointer;

                    &:first-child {
                        background-color: $primaryColor;
                        box-shadow: $primaryButtonShadow;
                        transition: all .3s ease-in-out;
                        border: solid $primaryColor;

                        &:hover {
                            background-color: darken($color: $primaryColor, $amount: 10%);
                            border: solid darken($color: $primaryColor, $amount: 10%);
                            box-shadow: $primaryButtonHoverShadow;
                            transform: scale(1.05);
                        }
                    }

                    &:last-child {
                        background-color: black;
                        border: solid black;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: white;
                            color: black;
                            transform: scale(1.05);
                        }
                    }
                }

            }

            @include md {
                align-items: center;
                text-align: center;
            }
        }
    }
}

.booking-section{
    @include flexCenter();
    margin: 0 2rem;

    .booking {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 80rem !important;
        margin: 2rem auto 0 auto;
        padding: 3rem 3rem 4rem 3rem;
        background-image: url('../../images/book-car/book-bg.png');
        border-radius: .3rem;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 5;
        background-color: white;

        .invalid-container {
            @include accordion();
        }

        &__invalid {
            display: none;
            overflow: hidden;
            // transition: .2s ease-in-out;

            &.active {
                @keyframes popOut{
                    0%{
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.03);
                    }

                    100%{
                        transform: scale(1);
                    }
                }

                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: red;
                padding: 0 .5rem;
                border-radius: .3rem;
                color: white;
                gap: 2rem;
                animation: popOut 1s ease-in-out 1 .2s;
            }

            i {
                cursor: pointer;
            }
        }
    
    
        .bookingForm {
            width: 100%;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
            font-weight: $weightBold;
    
            &__element {
                width: 100%;
    
                div {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
    
                    b {
                        color: red;
                    }
                }
            }
    
            i {
                color: $primaryColor;
            }
    
            select, input {
                width: 100%;
                padding: .7rem;
                font-family: inherit;
                margin-top: .5rem;
                height: 2.8rem;
                border: 1px solid #ccd7e6;
                border-radius: .2rem;
                transition: all .3s ease-in-out;

                &:invalid {
                    color: #ababab;
                }

                &:hover {
                    border: 1px solid $primaryColor;
                }
            }

            button {
                height: 2.8rem;
                align-self: flex-end;
                font-family: inherit;
                font-weight: $weightSemiBold;
                font-size: 1.2rem;
                background-color: $primaryColor;
                border-radius: .2rem;
                border: 1px solid $primaryColor;
                color: white;
                box-shadow: $primaryButtonShadow;
                cursor: pointer;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: darken($color: $primaryColor, $amount: 10%);
                    box-shadow: $primaryButtonHoverShadow;
                    transform: scale(1.02);
                }
            }

            @include xs {
                grid-template-columns: 1fr;
            }
        }
    }
}

.booking-popup {
    position: relative;
    overflow: scroll;

    &__overlay {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 10;
        transition: .2s ease-in-out;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__container {
        position: fixed;
        z-index: 20;
        border: white solid;
        top: 55%;
        height: 100vh;
        transform: translate(-50%, 50%);
        left: 50%;
        width: 100%;
        max-width: 55rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        transition: .5s ease-in-out;
        visibility: hidden;

        &.active {
            visibility: visible;
            transform: translate(-50%, -50%);
        }
        
        .content {
            overflow: scroll;

            &.successful {
                overflow: hidden;
                height: 100vh;
            }

            .booking-successful {
                margin: 0 auto;
                text-align: center;
                display: none;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                position: relative;
                i {
                    color: rgb(1, 180, 1);
                    font-size: 4rem;
                    margin-bottom: 1rem;
                }
    
                p {
                    font-size: 1.5rem;
                    font-weight: $weightBold;
                    margin-bottom: 1rem;
                }

                button {
                    padding: .8rem 2rem;
                    background-color: $primaryColor;
                    font-family: inherit;
                    font-weight: $weightSemiBold;
                    font-size: 1.2rem;
                    color: white;
                    border-radius: .2rem;
                    border: none;
                    box-shadow: $primaryButtonShadow;
                    transition: .2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        box-shadow: $primaryButtonHoverShadow;
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(.95);
                    }
                }
                
                &.successful {
                    display: block;
                }
            }
        }

        .title {
            color: $primaryColor;
        }

        &__header {
            background-color: $primaryColor;
            display: flex;
            justify-content: space-between;
            padding: .5rem 1rem;
            align-items: center;
            color: white;

            i {
                font-size: 1.7rem;
                cursor: pointer;
                transition: .2s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        &__info {
            background-color: #ffeae6;
            padding: 1rem 2rem;

            h3 {
                color: $primaryColor;
                margin-bottom: 1rem;
            }

            p {
                color: $grayTextColor;
                font-weight: $weightSemiBold;
            }

            &.successful {
                display: none;
            }
        }

        &__details {
            display: flex;
            padding: 1rem 2rem;
            border-bottom: solid $inputBackgroundColor;
            gap: 2rem;

            &.successful {
                display: none;
            }
            
            &__left {
                flex: 1 1 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;


                .location, .date {
                    color: $grayTextColor;
                }

                
                &>div {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    
                    .asterisk {
                        color: red;
                    }

                    &>div {
                        display: flex;
                        gap: .8rem;

                        i {
                            font-size: 1.5rem;
                            color: $grayTextColor;
                        }
                    }
                }
            }

            &__right {
                flex: 1 1 0;
                display: flex;
                flex-direction: column;

                span {
                    color: $primaryColor;
                }

                img {
                    width: 100%;
                    max-width: 30rem;
                    align-self: center;
                    justify-self: center;
                    margin: auto;
                }
            }

            @include sm {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }

        &__form-container {
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &.successful {
                display: none;
            }

            .input-container::after {
                content: 'This field is required.';
                font-size: .7rem;
                display: block;
            }

            &__form {

                label::after {
                    content: ' *';
                    color: red;
                }

                .top {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
                    column-gap: 1rem;
                    row-gap: 1.6rem;

                    & > div {
                        display: flex;
                        flex-direction: column;
                        gap: .3rem;

                        input {
                            @include formInput();
                        }
                    }

                }

                .middle {
                    display: grid;
                    row-gap: 1.6rem;
                    grid-template-columns: 1fr;
                    padding-top: 1.6rem;

                    & > div {
                        display: flex;
                        flex-direction: column;
                        gap: .3rem;

                        input {
                            @include formInput();
                        }
                    }
                }

                .bottom {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
                    column-gap: 1rem;
                    row-gap: 1.6rem;
                    padding-top: 1.6rem;

                    & > div {
                        display: flex;
                        flex-direction: column;
                        gap: .3rem;

                        input {
                            @include formInput();
                        }
                    }
                }

                .news-check {
                    display: flex;
                    gap: .5rem;
                    padding-top: 1.6rem;
                    
                    .news-checkbox {
                        width: 1.2rem;
                        flex-shrink: 0;
                    }
                    label::after {
                        content: '';
                    }
                }
            }

            .invalid-container {
                @include accordion();
            }

            .submit-container {
                display: flex;
                justify-content: end;
                padding: 2rem 0;
                margin-bottom: 3rem;

                button {
                    padding: .5rem 1.5rem;
                    font-size: 1.4rem;
                    font-family: inherit;
                    background-color: $primaryColor;
                    color: white;
                    font-weight: $weightBold;
                    border: solid yellow;
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(.95);
                    }
                }
            }
        }

        @include md {
            top: 50%;
            border: none;
        }
    }
}

.planTrip {
    max-width: $maxWidth;
    width: 100%;
    margin: 10rem auto 2rem auto;
    padding: 0 1rem;

    .planTrip-container {
        @include flexCenter($direction: column);
        


        &__title {
            text-align: center;

            h3 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }

        &__details {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
            width: 100%;

            div {
                @include flexCenter($direction: column, $justify-content: flex-start);
                text-align: center;
                padding: 3rem 6rem;

                h3 {
                    font-size: 1.3rem;
                }

                p {
                    color: $grayTextColor;
                }

                @include lg {
                    padding: 2rem 2rem;
                }
            }

            @include xs {
                grid-template-columns: 1fr;
            }
        }
    }
}

.fleet-section {
    width: 100%;
    max-width: $maxWidth;
    margin: 5rem auto 2rem auto;
    @include flexCenter();
    
    &__container {
        padding: 2rem;
        @include flexCenter($direction: column);
        width: 100%;

        .fleet-heading-container {
            @include flexCenter($direction: column);

            h3 {
                font-size: 1.5rem;
                font-weight: $weightBold;
            }

            h2 {
                font-size: 2.8rem;
            }

            p {
                text-align: center;
                color: $grayTextColor;
            }

            @include xs {
                text-align: center;
            }
        }

        .fleet-car-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 3rem;

            &__buttons {
                display: flex;
                flex-direction: column;
                gap: .5rem;

                button {
                    padding: .8rem 1rem;
                    background-color: $grayBackgroundColor;
                    font-family: $font;
                    font-weight: $weightBold;
                    font-size: 1.3rem;
                    color: black;
                    border: solid $grayBackgroundColor;
                    text-align: center;
                    transition: all .2s ease-in-out;

                    &.active, &:hover {
                        color: white;
                        border: solid $primaryColor;
                        background-color: $primaryColor;
                        cursor: pointer;
                    }

                    @include xs {
                        font-size: 1.1rem;
                    }

                }
            }
                

            .image-container {
                width: 35rem;
                margin: 0 2rem;
                display: flex;
                align-self: center;
                align-items: center;

                img {
                    width: 100%;
                    object-fit: cover;
                }

                @include md {
                    height: 350px;
                }

                @include sm {
                    height: 250px;
                }

                @include xs {
                    height: 180px;
                }
            }

            .details-container {
                @include flexCenter($direction: column);
                width: 20rem;
                align-self: flex-start;

                .pricePerDay-container {
                    background-color: $primaryColor;
                    padding: .5rem 1rem;
                    width: 100%;
                    text-align: center;
                    color: white;
                    font-size: 1.5rem;
                    
                    span {
                        font-weight: $weightVeryBold;
                        width: 3rem;
                        display: inline-block;
                    }
                }

                .detail-table {
                    display: flex;
                    width: 100%;
                    border-left: 2px solid black;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    min-width: 15rem;

                    span {
                        width: 50%;
                        text-align: center;
                        margin: .5rem 0;
                        font-weight: $weightBold;
                        padding: 0 .2rem;
                    }

                    .table-option {
                        border-right: 2px solid black;
                    }
                }

                a {
                    margin-top: 1rem;
                    padding: .5rem;
                    background-color: $primaryColor;
                    text-decoration: none;
                    color: white;
                    box-shadow: 6px 6px 0 #efe9e9;
                    width: 100%;
                    text-align: center;
                    font-weight: $weightBold;
                    font-size: 1.2rem;
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: translate(-3px, -3px);
                        box-shadow: 12px 12px 0 #efe9e9;
                    }
                }
            }

            @include lg {
                flex-wrap: wrap;
                row-gap: 1rem;

                div:nth-child(-n + 2) {
                    flex: 1 0 50%;
                }

                div:last-child {
                    flex: 1;
                    margin: 0 auto;
                }
            }
        }




    }
}

.basicBanner {
    width: 100%;
    background-color: #2d2d2d;
    text-align: center;
    padding: 3rem 2rem;

    h2 {
        font-size: 3rem;
        color: white;
        margin-bottom: 1rem;
    }

    h3 {
        color: white;
        font-size: 1.5rem;
        font-weight: $weightNormal;

        span {
            color: $primaryColor;
        }
    }
}

.chooseUs-section {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    background-image: url('../../images/chooseUs/bg.png');
    background-size: cover;
    background-position: -225px 255px;
    background-repeat: no-repeat;
    @include flexCenter();
    
    &__container {
        @include flexCenter($direction: column);
        max-width: $maxWidth;

        .hero-image {
            width: 100%;
            max-width: 70rem;
            height: auto;
        }

        .chooseUs-details-container {
            @include flexCenter($justify-content: space-around);
            width: 100%;
            gap: 5rem;
    
            &__left {
                flex: 1 1 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 2rem;
                max-width: 40rem;
    
                h3 {
                    font-size: 1.5rem;
                    width: 100%;
                }
    
                h2 {
                    font-size: 3rem;
                    line-height: 120%;
                    margin-bottom: 1.5rem;
                }
    
                p {
                    color: $grayTextColor;
                    margin-bottom: 1.5rem;
                }
    
                a {
                    padding: 1rem 2rem;
                    text-decoration: none;
                    color: white;
                    background-color: $primaryColor;
                    border-radius: .2rem;
                    font-weight: $weightVeryBold;
                    font-size: 1rem;
                    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
                    transition: all 0.3s ease-in-out;
    
                    i {
                        margin-left: .3rem;
                    }
    
                    &:hover {
                        background-color: darken($color: $primaryColor, $amount: 10%);
                        box-shadow: $primaryButtonHoverShadow;
                        transform: scale(1.05);
                    }
                }

                @include lg {
                    text-align: center;

                    a {
                        margin: 0 auto;
                    }
                }
            }
    
            &__right {
                flex: 1 1 0;
                padding: 0 2rem;
                max-width: 40rem;
                @include flexCenter($direction: column);
                gap: 2rem;
    
                &>div {
                    display: flex;
                    gap: 1rem;

                    @include md {
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 0;

                        img {
                            width: 7rem;
                        }
                    }
                }
                
    
                img {
                    width: 11rem;
                    object-fit: contain;
                }

                .detail {
                    padding-top: .6rem;

                    @include md {
                        padding-top: 0;
                    }
                }
            }

            @include lg {
                flex-direction: column;
            }
        }
    }
}

.reviews-section {
    width: 100%;
    background-color: #f8f8f8;
    
    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 5rem 2rem;

        @include flexCenter($direction: column);

        &__heading {
            text-align: center;
            max-width: 50rem;
            margin-bottom: 2rem;
            
            h3 {
                font-size: 1.5rem;
                font-weight: $weightBold;
            }

            h2 {
                font-size: 2.7rem;
                margin-bottom: 1rem;
            }

            p {
                color: $grayTextColor;
            }
        }

        .review-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            gap: 2rem;
            width: 90%;
    
            &__card {
                max-width: 33rem;
                background-color: white;
                padding: 3rem;
                justify-self: center;
                box-shadow: 0 20px 40px 0 rgba(0,0,0,.08);
                @include flexCenter($direction: column, $justify-content: space-between);
                border-radius: .3rem;
    
                &__msg {
                    font-size: 1.3rem;
                    line-height: 120%;
                    font-weight: $weightSemiBold;
                    padding-bottom: 2rem;
                }
    
                &__user {
                    @include flexCenter($justify-content: space-between);
                    width: 100%;         
    
                    &__details {
                        @include flexCenter();
                        gap: 1rem;
    
                        img {
                            width: 4rem;
                            border-radius: 50%;
                        }
    
                        .reviewer-name {
                            font-size: 1.2rem;
                        }
                    }
    
                    i {
                        color: $primaryColor;
                        font-size: 4rem;
                    }
                }
            }
        }
    }

}

.faq-section {
    width: 100%;
    margin: 0 auto;
    
    background-image: url('../../images/faq/car.png');
    background-repeat: no-repeat;
    background-position: 0 100%;

    &__container {
        max-width: $maxWidth;
        padding: 0 2rem;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        
        &__heading {
            text-align: center;
            max-width: 50rem;
            margin: 0 auto;

            h3 {
                font-size: 1.5rem;
            }

            h2 {
                font-size: 2.7rem;
                margin-bottom: 1rem;
            }

            p {
                color: $grayTextColor;
            }
        }

        &__questions__container {
            max-width: 50rem;
            margin: 2rem auto;
            box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);

            .question-container {

                &__heading {
                    max-width: 50rem;
                    @include flexCenter($justify-content: space-between);
                    padding: 1rem 2rem;
                    background-color: white;
                    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1);
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    gap: 1rem;
                    transition: .2s ease-in-out;
                    
                    h4 {
                        font-size: 1.2rem;
                        font-weight: $weightSemiBold;
                    }
                    
                    i {
                        font-size: 1.2rem;
                        transition: transform .2s ease-in;

                        &.active {
                            transform: rotate(180deg);
                        }
                    }
                    
                    &.active, &:hover{
                        color: white;
                        background-color: $primaryColor;
                        box-shadow: $primaryButtonHoverShadow;
                    }
                }

                .answer-container {
                    display: grid;
                    grid-template-rows: 0fr;
                    color: $grayTextColor;
                    background-color: white;
                    transition: .3s ease-out;

                    p { 
                        overflow: hidden;
                        padding: 0 2rem;
                    }

                    &.active {
                        padding: 2rem 0;
                        grid-template-rows: 1fr;
                    }
                }
                
            }
        }
    }
}

.download-section {
    width: 100%;
    background-color: #f8f8f8;
    background-image: url('../../images/banners/bg02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 2rem 0;

    &__container {
        margin: 0 auto;
        max-width: $maxWidth;
        padding: 2rem;

        .text-container {
            max-width: 40rem;
            padding: 3rem;

            h2 {
                font-size: 2.7rem;
                margin-bottom: 1rem;
            }

            p {
                color: $grayTextColor;
                margin-bottom: 2rem;
            }

            img {
                margin-right: 2rem;
                cursor: pointer;
            }

            @include md {
                text-align: center;
                margin: 0 auto;
                padding: 0;

                img {
                    margin: 0 1rem;
                    width: 11.7rem;
                }
                
            }

            @include sm {
                img {
                    margin: .5rem;
                    width: 10rem;
                }
            }
        }
    }

    @include md {
        background-image: none;
    }
}

.footer-section {
    width: 100%;
    max-width: $maxWidth;
    margin: 3rem auto;
    
    &__container {
        padding: 2rem 4rem;
        display: grid;
        grid-template-columns: 1.3fr 1fr 1fr 1fr;
        gap: 3rem;

        .carRental {
            max-width: 20rem;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;

            span {
                font-weight: $weightNormal;
            }
        }

        p {
            margin-bottom: 1rem;
            color: $grayTextColor;
        }
        
        i {
            margin-right: .5rem;
        }
        
        li {
            list-style: none;
            width: 100%;

            span {
                font-weight: $weightBold;
            }
        }

        a {
            text-decoration: none;
            color: black;
            transition: .2s ease-in-out;

            &:hover {
                color: $primaryColor;
            }
        }

        ul {
            @include flexCenter($direction: column, $align-item: flex-start);
            gap: .5rem;
        }

        .contact-info {
            font-weight: $weightBold;
            transition: .2s ease-in-out;

            &:hover {
                color: $primaryColor;
            }
        }

        input {
            width: 100%;
            border: solid $grayBackgroundColor;
            padding: .8rem 1rem;
            background-color: $grayBackgroundColor;
            border-radius: .2rem;
            font-family: inherit;
            transition: .2s ease-in-out;

            &:hover {
                border: solid $primaryColor;
            }

            &::placeholder {
                text-align: center;
            }
        }

        button {
            width: 100%;
            padding: .7rem;
            font-size: 1rem;
            font-family: inherit;
            font-weight: $weightBold;
            border: none;
            border-radius: .2rem;
            color: white;
            background-color: $primaryColor;
            transition: .3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: darken($color: $primaryColor, $amount: 10%);
                box-shadow: $primaryButtonHoverShadow;
                transform: scale(1.02);
            }
        }

        @include lg {
            grid-template-columns: 1fr 1fr;
        }

        @include sm {
            grid-template-columns: 1fr;
            row-gap: 5rem;
            
            div {
                text-align: center;
            }

            .carRental {
                margin: 0 auto;
            }

            h3 {
                margin-bottom: .3rem;
            }
        }
    }

    @include sm {
        margin: 0 auto;
    }
}

.to-top {
    background-color: $primaryColor;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    transition: all .4s;
    z-index: 8;
    border: none;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &.active {
      bottom: 32px;
      pointer-events: auto;
      opacity: 1;
    }
}


// About Page
.subPage-banner {
    height: 25rem;
    position: relative;
    background-image: url('../../images/hero/heroes-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    .bg-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: hsla(0,0%,100%,.92);
    }
    
    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;

        &__heading {
            padding: 4rem;
            z-index: 1;
        }

        h3 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        @include xs {
            justify-content: center;
            text-align: center;
        }
    }


    
}

.about-company-section {
    width: 100%;
    max-width: $maxWidth;
    margin: 5rem auto;


    &__container {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
        @include flexCenter();
        gap: 5rem;
        flex: 1 1 0;
        padding: 0 2rem;

        &__details {
            @include flexCenter($direction: column, $align-item: flex-start);
            gap: 1rem;
            flex: 1 1 0;

            .icons-section {
                margin-top: 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 1 1 0;

                    img {
                        width: 5rem;
                        margin: 0 auto;
                    }

                    span {
                        display: flex;
                        gap: 1rem;
                        
                        h4 {
                            transform: translateY(25px);
                            transition: .3s ease-in-out;
                            opacity: 0;
                            flex: 1 1 0;
                            font-size: 2.5rem;
                            text-align: end;

                            &.active {
                                transform: translateY(0);
                                opacity: 1;
                            }
                        }
                        

                        p {
                            flex: 1 1 0;
                            word-spacing: 30rem;
                            margin: auto;
                        }
                    }
                }

                @include xs {
                    flex-direction: column;
                    gap: 4rem;
                }
            }

            &>h3 {
                font-size: 1.5rem;
                font-weight: $weightSemiBold;
            }

            &>h2 {
                font-size: 2.5rem;
            }
        }

        &__image-container {
            flex: 1 1 0;
            max-width: 25rem;
            
            img {
                width: 100%;
            }
        }

        @include lg {
            flex-direction: column;
        }
    }
}

.callBanner-section {
    width: 100%;
    padding: 5rem 0;
    position: relative;
    background-image: url('../../images/banners/bg-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__overlay {
        background-color: hsla(0, 0%, 16%, 0.92);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    &__container {
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 0 2rem;
        @include flexCenter();
        gap: 2rem;
        text-align: center;
        position: relative;
        z-index: 1;
        
        h2 {
            font-size: 2rem;
            color: white;
        }

        span {
            color: $primaryColor;
            cursor: pointer;
            font-size: 1.5rem;
            
            a {
                font-size: 2rem;
                text-decoration: none;
                margin-left: .5rem;
                color: $primaryColor;
                font-weight: $weightBold;
            }
        }

        @include lg {
            flex-direction: column;
        }
    }

    @include lg {
        padding: 3rem 0;
    }
}